@{
    ViewData["Title"] = "Formação - Sofia Ribeiro";
}

<div class="text-center">
    <h1 class="lavanda">Formação</h1>
    <br />
    
    <h2>Licenciatura em Design Industrial</h2>
    <img src="https://www.ipleiria.pt/wp-content/uploads/2014/11/kumpan-electric-aflPvovObq0-unsplash.jpg"
    width="400"/>

    <br /><br />
    <h2>Aprendiz de Programação</h2>
    <img src="https://www.locaweb.com.br/blog/wp-content/uploads/2023/01/principais-tendencias-em-desenvolvimento.png"
    width="400"/>

    <br /><br />
    <h5 class="lavanda">Sofia Ribeiro</h5>
</div>
