@{
    ViewData["Title"] = "Site - Sofia Ribeiro";
}

<div class="text-center">
    <h1 class="verde">Bem-Vindo ao meu primeiro Site</h1>
    <p class="bege">
        <img width="500"
        src="https://media.licdn.com/dms/image/C5612AQG4fNUzk3T-Dg/article-cover_image-shrink_600_2000/0/1520166741954?e=2147483647&v=beta&t=Q4PGFX5BvLE5qBYB8gwkAyUtpPG8JCOOoVtKRe1emUM" />
    </p>

    <br /><br />
    <h2>Desenvolvido em 08/09/2023</h2>
    <br />
    <h5 class="verde">Sofia Ribeiro</h5>
</div>
