@{
    ViewData["Title"] = "Interesses - Sofia Ribeiro";
}

<div class="text-center">
    <h1 class="rosa">Interesses</h1>
    <br />
    
    <h4>Música</h4>
    <p>Gosto muito de ouvir uma boa música e os meus estilos de música variam muito conforme do dia e da disposição, 
        mas os artistas que tenho ouvido mas na atualidade são: The Weeknd, Mac Miller, Madison Beer, Olivia Rodrigo e Billie Eilish.
    </p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/Dj9qJsJTsjQ?si=svNsXv-QICaQVxHM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

    <br /><br />

    <h2 class="formula1">Formula 1</h2>
    <p>De dois anos para cá eu tenho apaixonado cada vez mais pelo mundo do automobilismo, mas mais expecificamente por Formula 1.</p>
   
    <h4 class="formula1">Classificação do Campeonato dos Pilotos</h4>
    <ol type="1">
        <li>Max Verstappen</li>
        <li>Sergio Perez</li>
        <li>Fernando Alonso</li>
        <li>Lewis Hamilton</li>
        <li>Carlos Sainz</li>
    </ol>
        
    <h4 class="formula1">Classificação do Campeonato de Construtores</h4>
    <ul type="square">
        <li>Red Bull</li>
        <li>Mercedes</li>
        <li>Ferrari</li>
        <li>Aston Martin</li>
        <li>McLaren</li>
    </ul>
    <img src="https://media.tenor.com/x3X71q4UOT8AAAAd/formula1-f1.gif" width="400"/>

    <br /><br />

    <h4>Morada do Centro de Formação</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.0923866291246!2d-8.623814924413553!3d41.132509111766836!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd246526a80a8afb%3A0xe4f625f71f22884d!2sIEFP%20Instituto%20de%20Emprego%20e%20Forma%C3%A7%C3%A3o%20Profissional!5e0!3m2!1spt-PT!2spt!4v1694370038632!5m2!1spt-PT!2spt" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    <br /><br />
    <h5 class="rosa">Sofia Ribeiro</h5>
</div>
