@{
    ViewData["Title"] = "Sobre Mim - Sofia Ribeiro";
}

<div class="text-center">
    <h1 class="azul">Sobre Mim</h1>

    <p>Olá, o meu nome é Sofia tenho licenciatura em Desin Industrial e sou uma aprendiz da formação programação.<br />
        Atualmente, estou a ter aprender várias linguagens, como por exemplo ASP.Net, 
        C++, VisualBasic.Net, Python, muitas outras.<br />
        Nos meus tempos livres, adoro ver Formula 1, estar com a familia, sair com os amigos e ver muitas series.<br />
    </p>

    <img src="https://media.contentapi.ea.com/content/dam/ea/f1/f1-23/common/articles/patch-note-v109/pj-f123-bel-w01-rus-unmarked.jpg.adapt.crop191x100.628p.jpg"
    width="600"/>

    <br /><br />
    <h2>Desenvolvido em 08/09/2023</h2>
    <h5 class="azul">Sofia Ribeiro</h5>
</div>
